<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <title>About Us</title>
</head>

<body>
    <section>
        <!-- Creating the navbar in this part -->
        <input type="checkbox" id="check">
        <header>
            <h2><a href="../" class="logo">YNC M0ds</a></h2>
            <div class="navigation">
                <a href="../list_reviews">Reviews</a>
                <a href="/about_us">About Us</a>
                <a href="../create_review" class="home-btn">Submit Review</a>
            </div>
            <label for="check">
                <i class="fas fa-bars menu-btn"></i>
                <i class="fas fa-times close-btn"></i>
            </label>
        </header>

        <!-- Homepage Information -->
        <div class="content">
            <h1>Prof. Yeo Kheng Meng is the best Python instructor</h1>
            <br>
            <br>

            <h2>Credits</h2>
            <br>
                <li>Callista Yin</li>
                    <p style="padding-left: 50px;">Backend Developer</p>
                    <br>
                <li>Hana Miura</li>
                    <p style="padding-left: 50px;">QA Developer</p>
                    <br>
                <li>Felix Wang</li>
                    <p style="padding-left: 50px;">Sexy Frontend Developer</p>
                    <br>
                    <br>

            <h2>Tech Stack</h2>
            <br>
                <li>Frontend Development</li>
                <p style="padding-left: 50px;">HTML, CSS</p>
                <br>
                <li>Backend Development and Unit Testing</li>
                <p style="padding-left: 50px;">Python, Flask Framework</p>
                <br>
                <li>Database Development</li>
                <p style="padding-left: 50px;">SQL</p>
                <br>

        </div>

        <!-- Random footer information -->
        <div class="media-icons">
            <a href="https://github.com/firstanniversary/IntroPython_CourseReviewSite"><i class ="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/yeokhengmeng//"><i class ="fab fa-linkedin"></i></a>
            <a href="https://yeokhengmeng.com/"><i class ="fab fa-google"></i></a>
        </div>
    </section>
</body>
</html>
